@media only screen and (max-width: 850px) {
  .main-hero .CTA {
    width: 100%;
  }

  .carousel {
    background-color: #fff;
    width: 90%;
    margin: auto;
  }
  .carousel .info {
    position: relative;
    top: 0;
    right: 0;
    padding: 25px;
    width: 100%;
    height: auto;
    display: block;
    text-align: center;
  }
  .carousel .info h1 {
    margin-bottom: 15px;
  }
  .carousel .info .btns {
      text-align: center;
      display: block;
      margin-top: 18px;
  }
  .carousel .info .btns .btn {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
  }

  .stories {
    display: block;
    margin-bottom: 40px;
  }
  .stories .story-block {
    width: 100% !important;
  }
  .stories .story-grid {
    display: block;
    margin: 0 auto;
  }
  .stories .CTA .btn {
    margin: 0 auto;
    margin-top: 20px;
  }
  .stories .story-block-tall img, .stories .story-block-short img, .story-block-wide img {
    width: 100%;
    height: auto;
    margin-top: 0;
    margin-bottom: 20px;
  }
  #story-bottom-float {
    position: relative;
  }
  .stories .story-block {
    background-color: #fff;
    padding-bottom: 20px;
  }


  .CTA-section .wrap {
    width: 100% !important;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;
  }

  .CTA-section .CTA .btn a {
    border-bottom: 1px solid #fff;
    color: #fff;
  }
    .CTA-section .CTA .btn {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    background-color: rgba(255, 255, 255, 0);
    color: #fff;
  }

  .pages {
    display: block;
  }

  .pages .btns .btn {
    width: 5px;
    height: 5px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: #bbbbbb;
    display: inline-block;
  }

  .pages .btns .btn.active {
    background-color: #000;
  }

  #middle-parting {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  body {
    background-color: #000;
  }

  .mobile-hide {
    display: none;
  }
  /* Slot 2 - Hero Banner  */
  .main-hero {
    height: 90vh;
    padding-top: 0;
    position: relative;
    overflow: visible;
    margin-bottom: 150px;
  }
  .main-hero .wrap {
    padding: 7%;
    background-color: #fff;
    transform: translate(-50%, -50%);
    top: 100%;
    left: 50%;
    margin: 0;
  }
  .main-hero .CTA {
    color: #000;
    width: 100%;
  }
  .main-hero .CTA h1 {
    text-align: center !important;
    font-size: 2em !important;
  }
  .main-hero .CTA .btn {
    width: 100%;
    height: auto;
    margin-top: 15px;
    text-transform: uppercase;
  }
  /* Slot 4 - Quote */
  .quote {
    height: 100vh;
    background-position: left;
    margin-top: 75px;
    /* align-items: flex-end; */
  }
  .quote .quote-words {
    padding: 25px;
    text-align: center;
  }
  .stories .story-grid {
    width: 100%;
  }
  .form form {
    padding: 95px 25px;
  }
}
